/*map*/
body,html{
	padding:0;
	margin:0;
}
#map{
	height:100vh;
	width:100%;
}
/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
.ribbon {
  /* positioning */
  position: fixed !important;
  padding: 5px 45px !important;
  width: 128px !important;
  /* bottom right of the page */
  bottom: 50px !important;
  right: -50px !important;
  -webkit-transform: rotate(315deg) !important;
  -moz-transform: rotate(315deg) !important;
  -ms-transform: rotate(315deg) !important;
  transform: rotate(315deg) !important;
  /* effects with some shadow */
  box-shadow: 0 0 0 3px #000000, 0 0 20px -3px rgba(0, 0, 0, 0.5) !important;
  text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3) !important;
  /* looks */
  background-color: #000000 !important;
  color: #ffffff !important;
  font-size: 13px !important;
  font-family: sans-serif !important;
  text-decoration: none !important;
  font-weight: bold !important;
  /* ribbon effects */
  border: 2px dotted #ffffff !important;
  /* webkit antialias fix */
  -webkit-backface-visibility: hidden !important;
  letter-spacing: .5px !important;
  z-index: 100000000000000 !important;
}

.cardspan{
  /*color:red;*/

}
#back{
  position: absolute;
  top:100px;
  left:10px;
  z-index: 10000;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#locationsAvailable{
  /*height: 100px;*/
  /*background: pink;*/
}